<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.1.0/html5-qrcode.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>


        #scanner-window video {
            border-radius: 7%;
        }
        .loader 
{
 position: fixed;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 z-index: 9999;
 background: url('loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
    </style>
    <Script>
    // Check if user is on a laptop
// function isLaptop() {
//   const userAgent = navigator.userAgent.toLowerCase();
//   const laptopKeywords = ["macintosh", "windows"];

//   for (const keyword of laptopKeywords) {
//     if (userAgent.includes(keyword)) {
//       return true;
//     }
//   }

//   return false;
// }

// // Redirect if user is on a laptop
// if (isLaptop()) {
//   window.location.href = "laptop.html";
// }
    </script>
</head>

<body class="bg-[#FCFBF4]" style="font-family: 'Satoshi', sans-serif;">
    <div class="loader">
    </div>
    <header>
        <nav class=" z-10 w-full">
            <div class="container mx-auto px-8 md:px-12 lg:px-6">
                <div class="relative flex flex-wrap items-center justify-between gap-6 py-2 md:gap-0 md:py-4">
                    <input aria-hidden="true" type="checkbox" name="toggle_nav" id="toggle_nav" class="peer hidden" />
                    <div class="relative z-20 flex w-full justify-between md:px-0 lg:w-max">
                        <a href="index.html" aria-label="logo" class="flex items-center space-x-2">

                            <span class="text-2xl font-bold text-gray-900 ">Sole Finds</span>
                        </a>
                        <div class="relative flex max-h-10 items-center lg:hidden">
                            <label role="button" for="toggle_nav" aria-label="humburger" id="hamburger"
                                class="relative -mr-6 p-6">
                                <div aria-hidden="true" id="line"
                                    class="m-auto h-0.5 w-5 rounded bg-sky-900 transition duration-300 "></div>
                                <div aria-hidden="true" id="line2"
                                    class="m-auto mt-2 h-0.5 w-5 rounded bg-sky-900 transition duration-300 "></div>
                            </label>
                        </div>
                    </div>
                    <label aria-hidden="true" for="toggle_nav"
                        class="fixed inset-0 z-10 h-screen w-screen origin-bottom scale-y-0 bg-white/70 backdrop-blur-2xl transition duration-500 peer-checked:origin-top peer-checked:scale-y-100 lg:hidden"></label>
                    <div
                        class="invisible absolute top-full left-0 z-20 w-full origin-top translate-y-1 scale-95 flex-col flex-wrap justify-end gap-6 rounded-3xl border border-gray-100 bg-white p-8 opacity-0 shadow-2xl shadow-gray-600/10 transition-all duration-300 peer-checked:visible peer-checked:scale-100 peer-checked:opacity-100  lg:visible lg:relative lg:flex lg:w-7/12 lg:translate-y-0 lg:scale-100 lg:flex-row lg:items-center lg:gap-0 lg:border-none lg:bg-transparent lg:p-0 lg:opacity-100 lg:shadow-none lg:peer-checked:translate-y-0">
                        <div class="w-full text-gray-600 lg:w-auto lg:pr-4 lg:pt-0">
                            <ul class="flex flex-col gap-6 font-medium tracking-wide lg:flex-row lg:gap-0 lg:text-sm">
                                <li>
                                    <a href="index.html" class="block transition hover:text-primary md:px-4">
                                        <span></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="scan.html" class="block transition hover:text-primary md:px-4">
                                        <span>Scan QR Code</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="my_qr.html" class="block transition hover:text-primary md:px-4">
                                        <span>My QR Code</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="dashboard.html" class="block transition hover:text-primary md:px-4">
                                        <span>Dashboard</span>
                                    </a>
                                </li>


                            </ul>
                        </div>

                        <div class="mt-12 lg:mt-0">
                            <a href="/login"
                                class="relative flex h-9 w-full items-center justify-center px-4 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
                                <span
                                    class="relative text-sm font-semibold text-white bg-black rounded-full px-10 py-2">login</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
<!-- component -->
<div class="relative  flex items-center justify-center bg-center  py-5 px-4 sm:px-6 lg:px-8  bg-no-repeat bg-cover relative items-center"
	>
	<div class="absolute opacity-60 inset-0 z-0"></div>
	<div class="max-w-md w-full space-y-8 p-10 bg-gray-200 rounded-xl shadow-lg z-10">
<div class="grid  gap-8 grid-cols-1">
	<div class="flex flex-col ">
			<div class="flex flex-col sm:flex-row items-center">
				<h2 class="font-semibold text-lg mr-auto">Register</h2>
				<div class="w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0"></div>
			</div>
			<div class="mt-5">
				<div class="form">
					<div class="md:space-y-2 mb-3">
						<label class="text-xs font-semibold text-gray-600 py-2">Profile Picture<abbr class="hidden" title="required">*</abbr></label>
						<div class="flex items-center py-6">
							<div class="w-12 h-12 mr-4 flex-none rounded-xl border overflow-hidden">
								<img class="w-12 h-12 mr-4 object-cover" src="https://images.unsplash.com/photo-1611867967135-0faab97d1530?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1352&amp;q=80" alt="Avatar Upload">
                </div>
								<label class="cursor-pointer ">
                  <span class="focus:outline-none text-white text-sm py-2 px-4 rounded-full bg-[#FABB18] 0 hover:shadow-lg">Upload</span>
                  <input type="file" class="hidden" :multiple="multiple" :accept="accept">
                </label>
							</div>
						</div>
                        <form action="/register" method="post">
						<div class="md:flex flex-row md:space-x-4 w-full text-xs">
							<div class="mb-3 space-y-2 w-full text-xs">
								<label class="font-semibold text-gray-600 py-2">Name <abbr title="required"></abbr></label>
								<input placeholder="Name" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" required="required" type="text"  >
								<p class="text-red text-xs hidden">Please fill out this field.</p>
							</div>
							<div class="mb-3 space-y-2 w-full text-xs">
								<label class="font-semibold text-gray-600 py-2">Email<abbr title="required"></abbr></label>
								<input placeholder="Email ID" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" required="required" type="email" name="email">
								<p class="text-red text-xs hidden">Please fill out this field.</p>
							</div>
                            <div class="mb-3 space-y-2 w-full text-xs">
								<label class="font-semibold text-gray-600 py-2">Password<abbr title="required"></abbr></label>
								<input placeholder="Password" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" required="required" type="text" name="password" >
								<p class="text-red text-xs hidden">Please fill out this field.</p>
							</div>
						</div>
						
							</div>
							<div class="md:flex md:flex-row md:space-x-4 w-full text-xs">
								<div class="w-full flex flex-col mb-3">
									<label class="font-semibold text-gray-600 py-2">UserName</label>
									<input placeholder="User Name" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" type="text" name="username" id=" ">
              </div>
									<div class="w-full flex flex-col mb-3">
										<label class="font-semibold text-gray-600 py-2">Location<abbr title="required"></abbr></label>
										<select class="block w-full bg-white text-grey-darker border border-grey-lighter rounded-lg h-10 px-4 md:w-full " required="required" name="location" id="integration_city_id">
                  <option value="null">Seleted location</option>
                  <option value="Cochin">Cochin,KL</option>
                  <option value="Mumbai">Mumbai,MH</option>
                  <option value="Bangalore">Bangalore,KA</option>
                  <option value="Delhi">Delhi,DL</option>
                  <option value="Other">Other</option>
                </select>
										<p class="text-sm text-red-500 hidden mt-3" id="error">Please fill out this field.</p>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
            <button type="submit">Register</button>
        </form>
          <div class='flex flex-cols justify-center items-center mb-20'>
            <h1 class="px-5 text-gray-400">Already Have An Acoount ? <a href="/login" class="text-black">Sign In</a></h1></div>
            <script>
                $(window).on("load", function () {
                    $(".loader").fadeOut("slow");
                });
            </script>
        </body>
        
</html>